/* general part */
body {
  padding: 0;
  margin: 0;
}

header {
  background-color: black;
  height: 60px;
  display: block;
}

footer {
  padding-top: 50px;
  background-color: black;
}

h1 {
  padding: 20px 10px;
  margin-top: 0;
  font-weight: bold;
  font-size: 33px;
}

a {
  color: white;
}

p {
  font-size: 12px;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

header img {
  height: 45px;
  width: 125px;
  margin-top: 5px;
  margin-left: 15px;
  cursor: pointer;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  padding: 15px;
}

/* buttons */

#btn1 {
  background-color: black;
  text-align: center;
  color: white;
  width: 301px;
  height: 58px;
  border-radius: 30px;
  padding: 15px 65px;
  border: 1px solid black;
  margin: auto 25px 15px;
  cursor: pointer;
}

#btn2 {
  background-color: #df0c8b;
  text-align: center;
  color: white;
  width: 301px;
  height: 58px;
  border-radius: 30px;
  padding: 15px 65px;
  border: 1px solid white;
  margin: auto 25px 15px;
  cursor: pointer;
}

#h2 {
  margin-top: 22px;
  font-size: 30px;
  padding: 22px;
  text-align: center;
}

#p1 {
  margin-top: 8px;
}
#hero-image {
  height: 280px;
  width: 280px;
}

#top-span {
  background-color: #0d72ea;
  padding: 3px 7px;
  border-radius: 5px;
}

#button-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#subscribe-p {
  font-size: 15px;
}

#footer-image {
  margin-left: 15px;
  height: 35px;
  width: 95px;
  cursor: pointer;
}

#First-element {
  padding: 30px 15px;
}

#footer-p2 {
  padding-top: 10px;
}

.buttons {
  width: 300px;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.menu {
  font-weight: bold;
  font-size: 34px;
  color: white;
  margin-right: 40px;
  transform: rotate(90deg);
  cursor: pointer;
}

.hero-banner {
  padding-left: 25px;
  color: white;
  margin-bottom: 0;
  background-color: #df0c8b;
}

.presentation {
  background-color: white;
}

.main-article .article img {
  width: 90px;
  height: 90px;
}

.article-description {
  width: 200px;
}

.main-article {
  margin-left: 25px;
}

.main-article2 {
  display: flex;
  margin: 30px 25px;
}

.main-article2 img {
  width: 100px;
  height: 100px;
}

.article-description {
  margin-left: 19px;
}

.cards-section {
  padding: 40px 0px;
  margin: 0;
  background-color: #d9d9d9;
}

.subscribe-section h3 {
  margin: 8px 0px;
}

.line {
  margin: 20px 10px 20px auto;
  border: 1px solid rgb(156, 156, 156);
  height: 0.5px;
}

.subscribe-section {
  box-shadow: 1px 1px 4px 1px rgb(143, 141, 141);
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  border: 2px rgb(51, 51, 51);
  margin: 10px 35px;
  background-color: white;
  width: 260px;
}

.subscribe-section img {
  height: 15px;
  width: 12px;
}

.check-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: flex-start;
}

.subscribe-button {
  background-color: black;
  font-size: 13px;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
  width: 220px;
  margin: 20px 17px;
}

.subscribe-button:hover {
  padding: 12px 25px;
}

.cards-first-part {
  text-align: center;
  margin: 25px;
}

.cards-first-part h2 {
  font-size: 30px;
  font-weight: bold;
}

.subscribe-section a {
  color: black;
  padding-left: 10px;
}

.subscribe .subscribe-section #subscribe-p {
  font-size: 12px;
  text-align: center;
}

.footer-pages {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.footer-pages2 {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
  width: fit-content;
}

.footer-pages3 {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  width: fit-content;
  padding-bottom: 90px;
}

.social-media img {
  width: 50px;
  height: 50px;
}

.social-media {
  margin-left: 30px;
  padding-bottom: 50px;
}

.terms {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.terms a {
  font-weight: normal;
  font-size: 12px;
  width: fit-content;
}

.copiright img {
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.footer-elements {
  width: 500px;
  display: flex;
}
div.footer-copiright div p {
  color: white;
  padding: 3px;
}

div.footer-copiright {
  display: flex;
}

@media (min-width: 50px) and (max-width: 768px) {
  .presentation {
    display: flex;
    flex-direction: column;
  }
  #hero-image {
    margin: 30px 50px;
  }
  .buttons {
    width: 90%;
  }
  #btn1 {
    width: 100%;
  }
  #btn2 {
    width: 100%;
  }
  .terms a {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .buttons {
    display: flex;
    padding: 25px;
  }

  #btn1 {
    width: 277px;
    font-size: small;
  }

  #btn2 {
    width: 277px;
    font-size: small;
    margin-left: -20px;
  }

  .buttons a {
    text-decoration: none;
    width: 100%;
  }

  .hero-banner img {
    margin: auto 235px;
  }

  .main-article {
    display: flex;
  }
  .subscribe-section {
    width: 360px;
  }

  .subscribe {
    margin-left: 170px;
  }

  .subscribe .subscribe-section #subscribe-p {
    padding: 5px;
  }
  .subscribe-button {
    width: 300px;
    margin-left: 28px;
    text-align: center;
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
  .footer-pages {
    margin-top: 40px;
  }

  .terms {
    margin-left: 20px;
  }

  .terms a {
    width: 150px;
  }

  .terms-2 {
    display: flex;
  }

  .terms-3 {
    display: flex;
  }
}

@media (min-width: 992px) and (max-width: 1065px) {
  .header img {
    margin-left: 100px;
  }

  #hero-image {
    width: 400px;
    height: 400px;
    margin: 20px 190px;
  }

  .hero-banner-content {
    width: 600px;
  }
  #btn1 {
    width: 277px;
    font-size: small;
  }

  #btn2 {
    width: 277px;
    font-size: small;
    margin-left: -20px;
  }
  .buttons {
    display: flex;
    margin-left: -30px;
  }
  .hero-banner {
    padding-left: 100px;
  }

  .hero-banner h1 {
    padding: 20px auto 5px auto;
    font-size: 40px;
  }
  .hero-banner h2 {
    font-size: 26px;
  }
  .btn1 {
    padding-right: 15px;
    margin-left: 5px;
  }
  .buttons {
    padding-left: 5px;
  }
  .hero-banner img {
    margin: auto 330px;
  }

  .presentation #h2 {
    font-size: 40px;
  }

  .main-article {
    display: flex;
  }

  .main-article .article {
    margin-left: 40px;
    margin-bottom: 50px;
  }
  .main-article .article img {
    height: 120px;
    width: 120px;
  }
  .main-article .article .article-description h3 {
    font-size: 22px;
  }
  .main-article .article .article-description p {
    font-size: 15px;
  }
  .cards-first-part h2 {
    font-size: 40px;
  }
  .cards-first-part #subscribe-p {
    margin-bottom: 50px;
    font-size: 20px;
  }
  .subscribe {
    display: block;
    margin: auto 290px;
  }
  .subscribe-section {
    width: 400px;
    height: 450px;
  }

  .subscribe-section img {
    height: 22px;
    width: 20px;
  }
  .image-description p {
    font-size: 15px;
    font-weight: 400;
  }

  .subscribe-section p {
    font-size: 15px;
  }

  .subscribe-button {
    width: 350px;
    height: 45px;
    margin-left: 30px;
    border-radius: 30px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .footer-elements {
    width: 100%;
  }
  .footer-pages {
    margin-top: -10px;
  }

  .footer-pages2 {
    margin-top: 10px;
  }

  .footer-pages3 {
    margin-top: 10px;
  }
  .terms {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
  }

  .terms a {
    width: 150px;
  }
}
